# Sample .env for this project. You will need
# to update this!
#
# For more, see app/config.py


UV_NO_DEV=false

# Environment settings 
DEBUG=true   # false for prod
TESTING=true # false for prod

# Telegram alert settings
TG_TOKEN=your-token-here
TG_ALERT_CHAT=your-chat-id-here

# GitHub OAuth
GH_OAUTH_ID=your-id-here
GH_OAUTH_SECRET=your-secret-here
